body {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

p {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}

div {
    display: flex;
    justify-content: center;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    /*background-color: hsl(var(--hue), 100%, 50%);*/
    background-color: purple;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }